{% extends 'base.html' %}

{% block content %}
<h1><b><center>Stok Produk Toko-ku</center></b></h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if products %}
    <p>Kamu menyimpan {{ products|length }} item pada aplikasi ini</p>
    <table width="90%" border="1" cellspacing="0">
        <tr>
            <th>Nama Produk</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Stok Tersedia</th>
        </tr>
        {% for product in products %}
        <tr>
            <td><center>{{ product.name }}</center></td>
            <td><center>{{ product.price }}</center></td>
            <td><center>{{ product.amount }}</center></td>
            <td><center>{{ product.stock }}</center></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Tidak ada item yang disimpan pada aplikasi ini.</p>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}
